.full-screen-grey-layer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}

.message-menu-wrapper{
    position: fixed;
    right: 0;
    bottom: 35px;
    left: 0;
    width: 100%;
}

.message-menu-group{
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 4px;
}

.message-menu-group div{
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    font-family: verdana, arial, sans-serif;
    text-align: center;
    border: solid #000000;
    border-width: 0 0 1px 0;
}

.message-menu-group div:last-of-type{
    border-width: 0;
}

.message-menu-group div a{
    display:inline-block;
    height: 100%;
    width: 100%;
    color: rgb(41, 101, 190);
}

.mobile-toolbar{
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
}

.mobile-toolbar img{
    margin-right: 7px;
    vertical-align: middle;
}

.call-button, .message-button{
    width: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
    /*height: 35px;*/
    color: #ffffff;
    font-size: 13px;
    font-family: verdana, arial, sans-serif;
    padding: 8px 0 8px 0;
}

body{
    margin-bottom: 35px !important;
}
